main {
  background-color: #F6FEFE;
  margin-top: -1.4rem;
}

.welcome-text__logo {
  height: 10rem;
}

.welcome-text {
  font-family: 'Source Serif Pro', serif;
  margin-left: 225px;
  margin-right: 170px;
  font-size: 23px;
}

.welcome-text__purpose {
  font-size: 16px;
  margin-left: 25px;
  margin-right: 325px;
}
