@import '_mixins';

.favourites {
  @include dis-flexdir(row);
  position: absolute;
  margin: 3rem 0rem 0rem 20rem;
  font-family: 'Source Serif Pro', serif;
  z-index: 1;
}

.favourites-main {
  margin-top: 3rem;
}

.favourites__title {
  @include mar-fsize(-3rem 0rem 0rem -5.5rem, 48px);
}

.favourites__container {
  @include dis-flexdir(row);
  flex-wrap: wrap;
  width: 63rem;
  margin-left: -16rem;
}

.favourite-center__icon-favourite-center {
  position: absolute;
  @include hei-wid(50px, 50px);
  margin: -2.8rem 0rem 0rem -9.3rem;
}
