@import '_mixins';

.favourites__saved-question {
  @include wid-mar-rad(18rem, 3rem 0rem 0rem 1rem, 20px);
  padding: 1rem;
  background-color: darkred;
  font-size: 18px;
  color: white;
}

.saved-question__question {
  height: 5rem;
  width: 15rem;
}

.saved-question__deco {
  position: absolute;
  height: 10.6rem;
  @include hei-wid-mar-rad(10.8rem, 6rem, -8.3rem 0rem 0rem 2.9rem, 20px);
  opacity: 0.3;
}

.favourites__icon-favourites {
  height: 90px;
  margin-left: 6rem;
  margin-top: -0.6rem;
  position: absolute;
}
