@import '_mixins';

.welcome-text {
  @include marlef-marrig(225px, 170px);
  font-family: 'Source Serif Pro', serif;
  font-size: 23px;
}

.welcome-text__title-one {
  margin: 3rem 0rem 0rem 0rem;
  font-size: 56px;
  -webkit-text-emphasis-style: double-circle;
}

.welcome-text__logo {
  height: 10rem;
}

.welcome-text__author {
  @include pos-mar(-15rem 0rem 0rem 51.8rem);
  height: 27rem;
  border-radius: 2rem;
}

.author-about__header {
  @include pos-mar(12.7rem 0rem 0rem 53rem);
}

.author-about__body {
  @include pos-mar(14.6rem 0rem 0rem 53.2rem);
  width: 14rem;
  font-size: 13px;
  text-align: center;
}

.welcome-text__title-two {
  margin: -1rem 0rem 0rem 28rem;
  font-size: 56px;
}

.welcome-text__purpose {
  @include marlef-marrig(25px, 325px);
  font-size: 15px;
}

.welcome-text__site-guide,
.welcome-text__call-to-action {
  @include marlef-marrig(10px, 33px);
  font-size: 19px;
}

.welcome-text__call-to-action {
  margin-top: -2rem;
}

.welcome-text__site-guide-nav {
  @include martop-fsize(3rem, 36px);
}

.welcome-text__tab {
  @include martop-fsize(-1.7rem, 16px);
  @include marlef-marrig(25px, 45px);
}

.welcome-text__icon {
  @include pos-mar(-5.3rem 0rem 0rem -3.5rem);
  @include hei-wid(50px, 50px);
}
