.learning-center {
  height: 310vh;
  margin: 3rem 13rem 0rem 15rem;
  font-family: 'Source Serif Pro', serif;
}

.learning-center__icon-learning-center {
  height: 50px;
  width: 50px;
  margin: 0.2rem 0rem 0rem -3.5rem;
  position: absolute;
}

.learning-center__def-title {
  font-size: 47px;
}

.learning-center__def,
.learning-center__def-one,
.learning-center__def-indent,
.learning-center__tips,
.learning-center__final-thoughts {
  // margin-top: -1.7rem;
  font-size: 16px;
  margin-left: 25px;
  margin-right: 45px;
}

.learning-center__def-one {
  margin-top: -2rem;
}

.learning-center__def-indent {
  margin-left: 45px;
}

.learning-center__tips-title,
.learning-center__final-thoughts-title {
  font-size: 27px;
  margin-top: 4rem;
}
