@import '_mixins';

.nav-tabs {
  @include dis-flexdir(column);
  justify-content: space-around;
  position: fixed;
  height: 14rem;
  top: 1.4rem;
  z-index: 5;
}

.home__text,
.learning-center__text,
.quiz-center__text,
.favourites__text {
  margin-left: 19rem;
  font-family: 'Bebas Neue', cursive;
}

.home__text {
  @include txtal-mar-fsize-col(0.6rem 0rem 0rem 19.4rem, 23px);
}

.learning-center__text {
  @include txtal-mar-fsize-col(0rem 0rem 0rem 18.9rem, 20px);
}

.quiz-center__text {
  @include txtal-mar-fsize-col(0rem 0rem 0rem 19.2rem, 20px);
}

.favourites__text {
  @include txtal-mar-fsize-col(0.6rem 0rem 0rem 18.4rem, 23px);
}

.navers {
  @include dis-flexdir(row);
  @include hei-wid(3rem, 15rem);
  margin-left: -12rem;
  background-color: darkgrey;
  border-radius: 9px;
  transition: margin-left;
  transition-duration: .2s;
  text-decoration: none;
}

.navers:hover {
  margin-left: -6rem;
}

.active {
  background-color: darkred;
  margin-left: -6rem;
}

.nav-tabs__home,
.nav-tabs__learning-center,
.nav-tabs__quiz-center,
.nav-tabs__favourites {
  @include dis-flexdir(row);
  @include hei-wid(3rem, 15rem);
  margin-left: -12rem;
  position: fixed;
  background-color: darkgrey;
  border-radius: 9px;
  z-index: 1;
}

.home__icon,
.learning-center__icon,
.quiz-center__icon,
.favourites__icon {
  height: 30px;
  width: 30px;
}

.home__icon {
  margin: 9px 0px 0px 47px;
}

.learning-center__icon {
  margin: 9px 0px 0px 35px;
}

.quiz-center__icon {
  margin: 8px 0px 0px 43.2px;
}

.favourites__icon {
  margin: 7px 0px 0px 19px;
}

.nav__back {
  position: fixed;
  @include hei-wid(93px, 165px);
  margin-top: -20px;
  margin-left: 289px;
  opacity: 0.8;
  z-index: -1;
}
