@import '_mixins';

form {
  @include dis-flexdir(column);
  margin-top: 4rem;
}

.quiz-center {
  margin: 3rem 0rem 0rem 20rem;
  font-family: 'Source Serif Pro', serif;
}

.quiz-center__header-text {
  margin: 0rem 0rem 0rem -5.5rem;
  font-size: 48px;
}

.quiz-center__subtitle {
  margin: -0.8rem 0rem 0rem 14.5rem;
  font-size: 5.4px;
}

.quiz-center__standby {
  width: 51rem;
  margin: 1.7rem 0rem 0rem -2.5rem;
  font-size: 17px;
}

.quiz-center__option {
  display: flex;
  flex-direction: row;
}

.quiz-center__icon-quiz-center {
  position: absolute;
  @include hei-wid(50px, 50px)
  margin: 0.2rem 0rem 0rem -9.1rem;
}
