.quiz-board__label {
  margin: 6rem 0rem 0rem -3rem;
  font-size: 25px;
}

.quiz-board_option {
  margin: 6.5rem 0rem 0rem -4.2rem;
  position: absolute;
}

.quiz-center__favourite-question-one,
.quiz-center__favourite-question-two {
  height: 35px;
  width: 35px;
  position: absolute;
  margin: 5.8rem 0rem 0rem -8.5rem;
}
